//imports:

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

a {
  color: inherit;
}

// fonts:
$primary-font: 'Montserrat', sans-serif;
$subTitle-font: 'Merriweather', serif;
$text-font: 'Raleway', sans-serif;

// colors:
$header-bg-color: #eff0f2;
$aboutUs-bg-color: #f8fafa;
$ourTeam-bg-color: #f9fbfb;
// color: #3e3f3f;
// color: #181919;
// color: #5e5f5f;
// color: #71f6eb;

// #505050;
// #404141;
// #b4b4b4;
// #787878; focus
// #25514d; hover
// #c4c8cb;
html, body {
  font-size: 10px;
  @media screen and (min-width: 769px) and (max-width: 1300px) {
    font-size: 9px;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 8px;
  }
}

.logo {
  //margin-top: 60px;
  z-index: 2;

  @media screen and (min-width: 769px) and (max-width: 1141px) {
    margin-left: 20px;
  }
  @media screen and (min-width: 319px) and (max-width: 769px) {
    margin-left: 50px;
  }
}

.container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media screen and (max-width: 992px) {
    //max-width: 800px;
  }

  &__header {
    margin-bottom: 120px;
    margin-top: 130px;
  }

  &__title {
    margin: 0 auto;
    opacity: 0.9;
    color: #000;
    font-family: $primary-font;
    font-size: 3.8rem;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    text-align: center; // уточнить в ТЗ
    text-transform: uppercase;
    letter-spacing: 2.28px;
  }

  &__subtitle {
    margin: 15px auto 0;
    opacity: 0.62;
    color: #000;
    font-family: $subTitle-font;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.08px;
  }

}

.btn-primary {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  display: block;
  width: 232px;
  height: 53px;
  line-height: 28px;
  background: transparent;
  border: 2px solid #777879;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 2.16px;

  &:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }
}

.gallery__item:hover .gallery__info {
  display: block;
  //visibility: visible;
}

.gallery {

  &__info {
    position: absolute;
    bottom: 15px;
    left: 18px;
    display: none;
    //visibility: hidden;
    @media screen and (min-width: 319px) and (max-width: 769px) {
      visibility: hidden;
    }
  }

  &__img {
    //transform: scale(1.5);
    @media screen and (min-width: 319px) and (max-width: 420px) {
      width: 250px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    justify-content: center;
  }

  &__item {
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media screen and (min-width: 1141px) {
      &:nth-child(3n+1) {
        margin-left: 0;
      }
    }
    //
    //@media screen and (min-width: 319px) and (max-width:420px) {
    //  width: 250px;
    //}

  }
}

.info {


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    min-height: 241px;
    box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
    position: relative;
    background-color: #6df6eb;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 20px solid #6df6eb;
    }
  }

  &__socials {
    margin-top: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
  }

  font-family: $primary-font;
  opacity: 0.98;

  &__content {
    display: flex;
    flex-direction: column;

  }

  &__personal {
    margin-top: 43px;
    display: flex;
    align-items: baseline;
  }

  &__name {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 5px;
  }

  &__pos {
    font-weight: 400;
    font-size: 1.5rem;
    color: #767776;
    font-style: italic;
    letter-spacing: 0.055em;
  }

  &__desc {
    max-width: 240px;
    font-size: 1.6rem;
    font-family: $text-font;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    //margin-bottom: 35px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}

.header {
  font-family: $primary-font;
  background-color: $header-bg-color;

  &__title {
    padding-top: 20px;
    margin: 180px 0 130px 0;
    text-align: center;
    color: #505050;
    font-weight: 700;
    font-size: 4.5rem;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
    letter-spacing: 2.7px;
    @media screen and (min-width: 319px) and (max-width: 768px) {
      line-height: 50px;
      font-size: 2.5rem;
    }
    line-height: 50px;
  }

  &__title_fRow {
    padding-bottom: 25px;
  }

  &__title_bg {
    background-color: #adebe7;
    padding: 0 10px 0 10px;
    margin-right: 10px;
  }

  &__content {
    padding-top: 57px;
    position: relative;
  }

  &__uniqItem {
    position: absolute;
    right: 95px;
    bottom: 135px;
    @media screen and (min-width: 319px) and (max-width: 768px) {
      position: absolute;
      right: 50px;
      bottom: 50px;
    }

    &__btn {
      margin-bottom: 195px;
    }
  }
}

@mixin caption {
  opacity: 0.75;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aboutUs {
  background-color: $aboutUs-bg-color;

  &__header {
    margin-top: 130px;
    margin-bottom: 0;
  }

  &__sliderImages {
    margin-right: 156px;
    @media (min-width: 993px) and (max-width: 1160px) {
      margin-left: 10px;
      margin-right: 60px;
    }
    @media (max-width: 992px) {
      margin: 0 auto;
    }
    @media screen and (min-width: 319px) and (max-width: 1140px) {
      width: 250px;
    }

    & > img {
      width: 100%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__content {
    display: flex;
    margin: 147px auto 166px 80px;
    background-color: transparent;
    @media (max-width: 1110px) {
      margin: 150px auto;
    }
    @media (max-width: 992px) {
      flex-direction: column;
      margin-top: 70px;
      margin-bottom: 60px;
    }
  }

  &__about {
    max-width: 474px;
    @media (max-width: 992px) {
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  &__caption_big {
    margin-top: 0;
    @include caption;
    letter-spacing: 1.2px;
    font-size: 2rem;
  }

  &__caption_small {
    @include caption;
    font-size: 1.7rem;
    letter-spacing: 1.02px;

  }

  &__text {
    opacity: 0.74;
    color: #000;
    font-family: $text-font;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: left;
    margin-bottom: 25px;
  }
}

.ourWorks {
  margin-bottom: 110px;
}

.ourTeam {
  background-color: $ourTeam-bg-color;
  padding-bottom: 187px;
  @media (max-width: 992px) {
    padding-bottom: 20px;
  }

  &__header {
    margin-top: 100px;
  }

  &__title {
    //padding-left: 8px;
    //padding-top: 4px;
  }
}

.physInfo {

  display: flex;
  flex-direction: column;
  padding: 0 22px;
  width: 500px;
  height: 460px;
  box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
  background-color: rgba(2, 22, 35, 0.7);

  @media screen and (min-width: 319px) and (max-width: 768px) {
    width: 100%;
    min-width: 290px;
    max-width: 500px;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-weight: 100;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.7);
    font-family: $text-font;

    & > a {
      &:hover {
        text-decoration: underline;
      }
    }
    
    &_jumped {
      font-family: Georgia, sans serif;
    }
  }

  &__info {
    padding-left: 10px;
    margin-top: 30px;
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;

    &__secondPart {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}

.contacts {
  background-image: url('assets/img/contacts-bg-cut.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F9FBFB;

  &__row {
    display: flex;
    margin: 106px 0 126px 0;
    @media (max-width: 1140px) {
      justify-content: center;
    }
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      margin: 106px 0 70px 0;
    }
    @media screen and (min-width: 319px) and (max-width: 768px) {
      margin: 106px 30px 70px 30px;
    }

  }

  &__input {
    color: rgba(255, 255, 255, 0.7);

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    background: transparent;
    outline: none;
    font-family: $text-font;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 51px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 58px;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
  }

  &__textarea {

    resize: none;
    //display: block;
    background: transparent;
    outline: none;
    border: none;
    height: 136px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 26px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__btn {
    border-radius: 2px;
    background-color: #6eeee4;
    border: none;
    opacity: 1;
    margin: 0;
  }


  &__map {
    max-width: 455px;
    min-height: 224px;
    @media screen and (max-width: 768px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

.mailUs {
  padding: 18px 32px 32px;
  margin: 0 26px 0 0;
  width: 614px;
  height: 460px;
  box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
  background-color: rgba(2, 22, 35, 0.7);
  @media screen and (max-width: 1140px) {
    width: 500px;
  }
  @media screen and (max-width: 992px) {
    margin-bottom: 30px;
    margin-right: 0;

  }
  @media screen and (min-width: 319px) and (max-width: 768px) {
    width: 100%;
    min-width: 290px;
    max-width: 500px;
    //margin: auto 40px;
    //margin-right: 30px;
    //margin-left: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  background-color: #262b2e;
  width: 100%;
  height: auto;

  &__motto {
    opacity: 0.8;
    color: #ffffff;
    font-family: $text-font;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    padding-top: 90px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
  }

  &__socials {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 150px;
    line-height: 50px;
  }
}

.socials {

  font-size: 2.5rem;

  &_small {
    font-size: 1.5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__container {
    // something
  }

  &__item {

    &_ftr {
      margin-right: 7px;
      background-color: #424648;
    }

    &_small {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    text-align: center;
    //position: relative; зачем-то это тут есть? нужно подумать

    &_ftr {
      width: 45px;
      height: 45px;
      color: rgba(250, 244, 244, 0.4);
    }

    &_small {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background-color: #71f6eb;
      color: #000;
    }
  }
}